<div id="login-card" class="d-flex flex-column align-items-center">
  <div id="login-header" class="d-flex flex-column align-items-center">
    <h1 class="white-font">Wind Banking</h1>
    <img src="../../../assets/media/Logo.png"> 
  </div>
  <form id="login-form" class="w-100 form-signin d-flex flex-column align-items-center">
    <input type="email" class="form-control" placeholder="Usuário" required autofocus>
    <input type="password" class="form-control" placeholder="Senha" required>
    <button class="dark-pink" type="submit">Entrar</button>
  </form>
  <div id="login-footer" class="pink">
    <p>Temos uma demonstração disponível!</p>
    <p>Caso queira conferir</p>
    <button id="demo-button" class="dark-pink" routerLink="/account/demo">Estou curioso!</button>
  </div>
</div>