<div class="w-100 d-flex device-flex-direction device-justify">
  <div class="order-1">
    <div class="text-left">
      <h2 id="left-message" >Tudo que você precisa para movimentar, guardar e resgatar seu dinheiro
        </h2>
      <a href=# id="left-submessage" class="lead">Confira nossa conta <fa-icon class="ml-3" icon="arrow-right"></fa-icon></a>
    </div>
  </div>
  <div class="order-2 text-center">
    <div class="flex-fill">
      <img src="../../../../../assets/media/Firstpage.png">
    </div>
  </div>
  <div class="order-3">
    <app-cpf-input-card></app-cpf-input-card>
  </div>
</div>