<div class="pink text-left overlay-box-body-content common-margin">
  <div class="mb-5">
    <div class="d-flex flex-row justify-content-between m-0">
      <p class="d-flex flex-column m-0">Saldo<small class="account-detail">{{type}}</small></p>
      <fa-icon [icon]="['fas', 'eye']"></fa-icon>
    </div>
    <p class="m-0">{{saldoRegex}}</p>
  </div>
  <div *ngFor="let buttonInfo of actionButtons" class="d-flex flex-row money-action-box">
    <button (click)="doAction(buttonInfo.function)" class="money-action-button dark-pink white-font">
      <fa-icon [icon]="buttonInfo.icon"></fa-icon>
    </button>
    <p>{{ buttonInfo.label }}</p>
  </div>
</div>
<div class="overlay-box-footer common-margin"><button class="w-100 white-font dark-pink">Ver Extrato</button></div>